
div{
    
    position: relative;
    text-align: center;
  }
  h1{text-align: center;}
  button{
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  left: 42.2%;
  border-radius: 10px;
    
  }
  h2{
    
    border: black solid 3px;
    border-radius: 10px;
    position: relative;
    display: block;
    margin-left: 40%;
    margin-right: 40%;
    background-color: white;
}
 